#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
*.js
!config/*
!karma.conf.js
!webpack.config.js
!dist/*/*
*.map
!dist/*/*
*.d.ts
!dist/*
!dist/*/*
!make.js
coverage
*.metadata.json
!dist/*
.vscode

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

